input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
    }

    touchpad {
        natural-scroll
        scroll-method "two-finger"
        tap
        drag true
        drag-lock
        click-method "clickfinger"
    }

    mouse {
        scroll-method "no-scroll"
    }

    disable-power-key-handling
    focus-follows-mouse
}

output "eDP-1" {
    mode "2880x1800@120.00"
    scale 1
    focus-at-startup
}

layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
    }

    shadow {
        on
        softness 30
        spread 8
        offset x=8 y=8
    }
}

hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path null

blur {
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

animations {
}

window-rule {
    opacity 0.9
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="polkit-gnome-authentication-agent-1"
    match app-id="xdg-desktop-portal-gtk"

    open-floating true
    open-focused true
}

layer-rule {
    match namespace="kitty-panel"

    opacity 0.6
}

binds {
    // Components
    Mod+Q { spawn "alacritty"; }
    Mod+R { spawn "vicinae" "toggle"; }
    Mod+D { spawn "astal-shell" "toggle-dock"; }
    Mod+O { toggle-overview; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Shift+P { power-off-monitors; }

    // Columns & Windows Control
    Mod+C repeat=false { close-window; }
    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+T { center-column; }
    Mod+Ctrl+T { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+W { toggle-column-tabbed-display; }

    // Media & Brightness Control
    XF86AudioMute allow-when-locked=true { spawn "volume-script" "--toggle"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "volume-script" "--inc"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "volume-script" "--dec"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightness-script" "--inc"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightness-script" "--dec"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }

    Mod+Right allow-when-locked=true { spawn "playerctl" "next"; }
    Mod+Left allow-when-locked=true { spawn "playerctl" "previous"; }

    // Movements
    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Alt+H     { focus-monitor-left; }
    Mod+Alt+J     { focus-monitor-down; }
    Mod+Alt+K     { focus-monitor-up; }
    Mod+Alt+L     { focus-monitor-right; }

    Mod+Shift+Alt+H     { move-column-to-monitor-left; }
    Mod+Shift+Alt+J     { move-column-to-monitor-down; }
    Mod+Shift+Alt+K     { move-column-to-monitor-up; }
    Mod+Shift+Alt+L     { move-column-to-monitor-right; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+Tab { focus-workspace-previous; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Size Control
    Mod+Y { switch-preset-column-width; }
    Mod+Shift+Y { switch-preset-window-height; }
    Mod+Ctrl+Y { reset-window-height; }

    // Escape Hatch
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}

include optional=true "colors.kdl"
include "theme.kdl"
