@use "../palette" as p;
@use "sass:color";

.Sliders {
  min-width: 200px;
  min-height: 190px;
  margin: 10px 10px 10px 10px;
  background-color: color.change(p.$light-gray-1, $alpha: 0.5);

  slider {
    all: unset;
  }

  trough {
    margin: unset;
    min-width: 90px;
    min-height: 190px;
    border-radius: 14px;
  }

  highlight {
    all: unset;
    border-radius: 14px;
  }

  .AudioSlider highlight {
    background-color: p.$fg-cyan;
  }

  .BrightnessSlider highlight {
    background-color: p.$fg-yellow;
  }

  .AudioIcon {
    font-size: 48px;
    margin-top: 50px;
    color: color.change(p.$white, $alpha: 0.3);
  }

  .BrightnessIcon {
    font-size: 48px;
    margin-top: 50px;
    color: color.change(p.$white, $alpha: 0.3);
  }
}
