.vol, .light {
    min-height: 196px;
}

.vol trough, .light trough {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
}

.vol slider, .light slider {
    all: unset;
}

.vol highlight {
    all: unset;
    min-width: 72px;
    border-radius: 12px;
    background-color: rgba(10, 234, 241, 0.6);
}

.light highlight {
    all: unset;
    min-width: 72px;
    border-radius: 12px;
    background-color: rgba(255, 239, 6, 0.6);
}